.myChat {
    border-right: 1px solid #ccc;
    flex: 2;
    display: flex;
    flex-direction: column;
}

.myChatHeader {
    flex: 1;
    min-height: 97px;
    display: flex;
    flex-direction: column;
}

.myChatList {
    flex: 9;
    /* width: 360px; */
}
