.modalAddFriend {
    height: 500px;
    width: 400px;
    padding: 0;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.modalAddFriendHeader {
    border-bottom: 1px solid #ccc;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modalAddFriendHeader > p {
    font-weight: 600;
    font-size: 17px;
    color: black !important;
    margin: 0;
    padding: 0;
    padding-left: 15px;
}
.modalAddFriendHeader > button {
    margin-right: 15px;
    border-radius: 50%;
    border: unset;
    height: 40px;
    width: 40px;
    background-color: white;
}
.modalAddFriendHeader > button:hover {
    background-color: rgb(230, 230, 230);
}
.modalAddFriendInput {
    border-bottom: 1px solid #ccc;
    height: 50px;
    display: flex;

    align-items: center;
}
.modalAddFriendInput > span {
    padding-left: 10px;
}
.modalAddFriendInput > input {
    border: none;
    outline: none;
    width: 100%;
    padding: 0 20px;
}

.modalAddFriendBody {
    flex: 1;
    border-bottom: 1px solid #ccc;
}

.modalAddFriendFooter {
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.modalAddFriendFooter button {
    margin: 0 5px;
}
